<!DOCTYPE html>
<html>
  <head>
    <title>ぼ！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  </head>

  <body>
    <header id="header">
      <div class="header-container">
        <h1 class="site-title">
          <%= link_to image_tag('logo.png') , '/' %>
        </h1>
        <nav>
        <ul>
            <%#= link_to "リアル", ondemand_real_path %>
            <%#= link_to "ネット", ondemand_net_path %>
            <%= link_to "募集する", new_ondemand_path %>
            <%#= link_to "🔍", ondemands_path %>
            <%#= link_to "ログイン", new_user_session_path %>
            <%#= link_to "新規登録", new_user_registration_path %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <div class="container">
      <%= yield %>
      </div>
    </div>
    <footer id="footer">
      <p>© 2023 ぼ！ All Rights Reserved.</p>
    </footer>
  </body>
</html>
